.home {
    font-size: 2.25em;
    font-weight: 800;
    margin: 0 0 0.7em 0;
    padding-bottom: 0.75em;
    color: rgb(234, 114, 34);
}

h1, p, h2, h3, h5 {
    color: rgb(234, 114, 34);
    font-family: 'Dancing Script', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h5 {
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
}

p {
    font-size:x-large;
}

.card {
    background-color: black;
}

* {
    background-color: black;
}